<footer>

    <div><hr />Mike Bader 2017</div>

</footer>




<script src="./javascripts/jquery-1.11.3.min.js"></script>
<script src="./javascripts/handlebars.min.js"></script>
<script src="./javascripts/array.js"></script>

<!--<script type="module" src="./javascripts/data.js"></script>-->
<!--<script type="module" src="./javascripts/tasks.js"></script>-->
<!--<script type="module" src="./javascripts/model.js"></script>-->


</body>
</html>