        <header>
            <div class="wrapper">
                <div class="left">
                    <a href="/add" class="btn success" id="btnAddTask">New Task</a>
                </div>

                <div class="right">
                    <select class="styleSwitcher">
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
            </div>
        </header>