        <header>
        <div class="wrapper">
        <div class="left">
        <button class="btn success" id="btnAddTask">New Task</button>
        </div>

        <div class="right">
            <select class="styleSwitcher">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
            </select>
        </div>
        </div>
        </header>