<main>

    <form method="POST" action="/edit/{{task._id}}">
                <label for="Title">Titel
                <input type="text" name="add title" id="title" value="{{task.title}}">
                <label for="description">Description
                <input type="text" name="description"id="description" value="{{task.description}}">
                <label for="duedate">Date
                <input type="date" name="duedate" id="date" value="{{task.date}}">
                <input type="submit" class="btn success" value="Save" id="createTask">

        <a href="/" class="btn danger cancel">Cancel</a>
    </form>

</main>

